<!DOCTYPE html>
<html>
<head>
    
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="/css/estilos.css" >
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <title>LIBRERIRA WEB</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body>

   

    <div class="d-flex">
    <div id="sidebar-container" class="bg-primary" >
        <div class="logo">
            <li>
              <img src="img/libreria.png" class="logo">
            </li>
            <h4 class="text-light font-weight-bold">Libreria Web</h4>
        </div>
      <div>
        <div class="menu">
        <a  href="/" class="d-block text-light p-3 nav-link"><i class="icon ion-md-home mr-2 lead"></i></i>Inicio</a>
        <a  href="/catalogo" class="d-block text-light p-3 nav-link"><i class="icon ion-md-pricetags mr-2 lead"></i></i>Catálogo</a>
        <a  href="/clientes" class="d-block text-light p-3 nav-link"><i class="icon ion-md-people mr-2 lead"></i>Clientes</a>
        <a  href="/editorial" class="d-block text-light p-3 nav-link"><i class="icon ion-logo-buffer mr-2 lead"></i>Editorial</a>
        <a  href="/empleados" class="d-block text-light p-3 nav-link"><i class="icon ion-md-man mr-2 lead"></i>Empleados</a>
        <a  href="/libros" class="d-block text-light p-3 nav-link"><i class="icon ion-md-bookmarks mr-2 lead"></i>Libros</a> 
        </div>
     </div>        
    </div>

    <div class="w-100"> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
          

          <div id="content" >
              <section class="container">

         
 <!--
    </div>
</div>

    
  

    


     <script href="/css/estilos.css"></script>

            <a href="clientes/"><i class="icon ion-md-people"></i>Clientes</a>
            <a href="#"><i class="icon ion-logo-buffer"></i>Editorial</a>
            <a href="#"><i class="icon ion-md-man"></i>Empleados</a>
            <a href="#"><i class="icon ion-md-bookmarks"></i>Libros</a> 

        <div class="toggle-btn">
            <span>&#9776</span>
        </div>        
        <ul>
            <li>
                <img src="assets/img/libreria.png" alt="logotipo" class="logo">
            </li>
            <li>Inicio</li>
            <li href="#"><i class="icon ion-md-bookmarks"></i>Clientes</li>
            <li href="#"><i class="icon ion-md-bookmarks"></i>Editorial</li>
            <li href="#"><i class="icon ion-md-bookmarks"></i>Empleados</li>
            <li href="#"><i class="icon ion-md-bookmarks"></i>Libros</li>
        </ul>  


  


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


-->         