:root{
  --primary:#144880;
  --light:#ffffff;
  --grey: #efefef;
}

body {
  overflow: hidden;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  color: var(--primary);
}

a:hover{
  text-decoration: none;
}

#sidebar-container{
  min-height: 100vh;
  text-align: center;
}

.bg-primary{ background-color: #144880!important;}

#sidebar-container{
  padding: .875rem 1.25rem;
}

#sidebar-container .menu{
  width: 18rem;
}

#content{
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

.nav-link {
  text-transform: uppercase;
  font-family: 'Spicy Rice', cursive;
}

.logo {
  border-radius: 70%;
  display: block;
  margin: 0 auto; 
}

/*
.container {
  
  width: 200rem;
}
*/

#div1 {
  overflow:scroll;
  height:300px;
  width:1080px;
}
#div1 table {
 width:1500px;
 background-color:white;
}

.encabezado{
  background-color:yellowgreen;
  text-decoration-color: white;
  text-align: center;
}

.color{
  background-color:lightgray;
}

.forma{
  margin-bottom: 20px; 
  padding-bottom: 20px; 
  padding-top: 20px; 
  border-radius: 0.5cm; 
  border-color: black;
}

 /* 
* {
  margin: 0px;
  padding: 0px;
}

#sidebar.active {
  left: 0px;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #151719;
  left: -200px;
  transition: all 500ms linear;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}





#sidebar ul li {
  color: rgba(230, 230, 230, .9);
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100, 100, 100, .3);
  text-align: center;
}




#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
  font-size: 30px;
  border: 3px solid #000;
}
*/