<%- include ('partes/header'); -%>





<div class="container" style="padding-top: 230px; padding-left: 50px;">
    <div class="row">
        <div class="col-lg-12text-center">
            <img src="/img/portada2.png" alt="Libreria Web">
        </div>
    </div>

</div>
 
<div class="container" style="padding-top: 100px;">
    <footer class="bg-light text-center p-2">
        <p class="h4">Perú 2021 &copy;</p>
      </footer>
</div>










<%- include ('partes/footer'); -%>