<h2 class="titulo_general">Libros en Stock</h2>

<div id="bloque_Libros" >
        <div class="libro" style="width: 18rem;">
        <img class="card-img-top" src="img/el_ultimo_dictador.jpg" alt="Card image cap">
        <div class="card-body" id="libro_informacion">
            <p class="card-text">
                <p class="titulo">El Último Dictador</p>
                <p class="autor">Godoy, José Alejandro</p>
                <p class="precio">S/.72</p>
                <button class="btn btn-primary">Comprar</button>
            </p>
        </div>
      </div>

      <div class="libro" style="width: 18rem;">
        <img class="card-img-top" src="img/mi_planta_de_naranja_lima.jpg" alt="Card image cap">
        <div class="card-body" id="libro_informacion">
            <p class="card-text">
                <p class="titulo">Mi planta de Naranja Lima</p>
                <p class="autor">José Mauro de Vasconcelos</p>
                <p class="precio">S/.52</p>
                <button class="btn btn-primary">Comprar</button>
              </p>
        </div>
      </div>

      <div class="libro" style="width: 18rem;">
        <img class="card-img-top" src="img/despues.jpg" alt="Card image cap">
        <div class="card-body" id="libro_informacion">
            <p class="card-text">
                <p class="titulo">Después</p>
                <p class="autor">Stephen King</p>
                <p class="precio">S/.80.11</p>
                <button class="btn btn-primary">Comprar</button>
              </p>
        </div>
      </div>
</div>

